@import "~styles/config";

.button {
  display: inline-flex;
  position: relative;
  padding: 0 $gutter;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: $font-size;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  vertical-align: middle;
  color: $white;
  transition: $push;
  border-radius: $rounded;
  @include gradation-bg-accent;

  &:hover {
    transform: scale(0.9);
  }
}
