@import "~styles/config";

.button {
  display: inline-flex;
  position: relative;
  padding: 0 $gutter;
  height: 40px;
  cursor: pointer;
  font-size: $font-size;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  vertical-align: middle;
  background-color: $accent;
  color: $white;
  transition: $fade;
  border-radius: $rounded;

  &:hover {
    background-color: lighten($accent, 15%);
  }
}
