@import "~styles/config";

.hero {
  position: absolute;
  top: 0;
  bottom: 0;
  @include flex;
  width: 100%;

  & .title {
    font-family: $serif;
    font-weight: 200;
    line-height: 1.4;
    font-size: $font-size-hero;
    max-width: $desktop;
    margin: auto;
  }
  & .strong {
    color: $accent;
    font-weight: 300;
  }
}
