/* stylelint-disable */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0;
  border-radius: 0;
}

a {
  color: $paragraph;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0;
  appearance: none;
  border-radius: 0;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

input[type="button"],
input[type="text"],
input[type="submit"],
input[type="image"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: default;
  font-size: 0.625rem;
  line-height: 1.4;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}

img {
  width: 100%;
}

button,
input {
  overflow: visible;
}

button,
input,
select,
textarea {
  font-family: $sans;
  color: inherit;
  font-style: inherit;
  font-weight: 500;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  background: none;
}

:focus {
  outline: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

button,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input {
  &:active,
  &:focus {
    outline: none;
  }

  &[type="number"] {
    width: auto;
  }
}

img.Image__Zoom ~ div {
  background: transparent !important;
}

.Image__Small {
  width: 100%;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  img {
    width: 100%;
  }
}

.Image__medium {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  img {
    width: 100%;
  }
}

.Image__large {
  width: 100%;
  margin-bottom: 35px;

  img {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.author-alc-section {
  padding-left: 0;
  padding-right: 0;
}
