//Guetter
$gutter: 2rem;
$container-gutter-mobile: $gutter;
$container-gutter-tablet: $gutter * 2.5;
$container-gutter-desktop: $gutter * 4;
$container-gutter: calc(20px + (80 - 20) * ((100vw - 375px) / (1500 - 375)));

//block
$block-margin: calc(85px + (250 - 85) * ((100vw - 375px) / (1500 - 375)));
$block-single-margin: calc(
  42.5px + (125 - 42.5) * ((100vw - 375px) / (1500 - 375))
);

$block-padding: calc(85px + (250 - 85) * ((100vw - 375px) / (1500 - 375)));
$block-single-padding: calc(
  42.5px + (125 - 42.5) * ((100vw - 375px) / (1500 - 375))
);

$slider-width: calc(28rem + (600 - 280) * ((100vw - 375px) / (1500 - 375)));

// grid
$grid-column-count: 12;
$grid-baseline: 16px;

// page dimensions
$page-width: 1290px;

// Fonts
$serif: "IBM Plex Serif", serif;
$sans: "Inter", sans-serif;
$headings: "Anton", sans-serif;

$font-size: calc(1.4rem + (16 - 14) * ((100vw - 375px) / (1500 - 375)));
$font-size-l: calc(2rem + (26 - 20) * ((100vw - 375px) / (1500 - 375)));

$font-size-max: 5rem;
$font-size-app: 1.4rem;
$font-size-min: 1.3rem;
$font-size-hero: calc(4rem + (75 - 40) * ((100vw - 375px) / (1500 - 375)));
$font-size-quote: calc(1.8rem + (30 - 18) * ((100vw - 375px) / (1500 - 375)));
$font-size-block-title: calc(
  2.5rem + (38 - 25) * ((100vw - 375px) / (1500 - 375))
);

$font-kerning: 0.04em;
$line-height: 1.8;

// Colors
$color-background: #fff;
$color-placeholder: #ddd;

// Timings
$transition-enter: 200ms;
$transition-leave: 500ms;

// Custom break point (Min)
$min-1800: 1800px;
$min-1440: 1440px;
$min-1280: 1280px;
$min-1200: 1200px;
$min-1080: 1080px;
$min-1024: 1024px;
$min-960: 960px;
$min-840: 840px;
$min-768: 768px;
$min-720: 720px;
$min-640: 640px;
$min-600: 600px;
$min-560: 560px;
$min-540: 540px;
$min-480: 480px;
$min-420: 420px;
$min-375: 375px;
$min-360: 360px;

// Custom break points (Max)
$max-1280: 1279px;
$max-1200: 1199px;
$max-1080: 1079px;
$max-1024: 1023px;
$max-960: 959px;
$max-840: 839px;
$max-768: 767px;
$max-720: 719px;
$max-640: 639px;
$max-600: 599px;
$max-540: 539px;
$max-480: 479px;
$max-420: 419px;
$max-375: 374px;
$max-360: 359px;

// Predefined breakpoints
$phone: $min-420;
$phablet: $min-540;
$tablet: $min-720;
$desktop: $min-1080;
$desktop_medium: $min-1280;
$desktop_large: $min-1440;

// Segment
$segment-padding-mobile: $gutter * 3;
$segment-padding: 200px;

//percentage-based segments spacing
// Vertical scaling values.
// remove this map to disable vertical scaling
// value 1 = height breakpoint, value 2 = multiplier
$scale: ((920px, 0.975), (800px, 0.95), (690px, 0.925));

//Icons
$icon-size-max: 5rem;
$icon-size: 1.6rem;
$icon-size-min: 1.3rem;
$icon-size-button: calc(45px + (55 - 45) * ((100vw - 375px) / (1500 - 375)));
$icon-size-button-big: calc(
  2.5rem + (45 - 25) * ((100vw - 375px) / (1500 - 375))
);

//Colors
$bright-red: #ff0000;
$red: #ff005d;
$yellow: #ffcc00;
$blue: #0084ff;
$green: #00ffae;
$purple: #6400ff;
$orange: #ffa200;
$black: #10141a;
$white: #fcfcfc;

$primary: $black;
$secondary: #73737d;
$background-color: #fff;
$accent: $red;
$primary-bg: #f2f2f2;
$horizontalRule: rgba(8, 8, 11, 0.15);

$dark-horizontalRule: rgba(252, 252, 252, 0.15);

$inputBackground: rgba(0, 0, 0, 0.05);
$primary-grey: rgba(16, 20, 26, 0.05);

//Colors Typography
$title: #10141a;
$paragraph: #1c2025;
$grey: rgba(16, 20, 26, 0.3);
$placeholder: #ddd;

$dark-title: #fcfcfc;
$dark-paragraph: #efefef;
$dark-grey: rgba(252, 252, 252, 0.3);
$dark-placeholder: #6f6f6f;

//Animations
$fade: all 0.3s;
$fade-up: all 0.1s cubic-bezier(0.63, 0.03, 0.17, 0.95);
$line: 0.6s cubic-bezier(1, 0, 0, 1);
$scroll: all 0.9s cubic-bezier(0.63, 0.03, 0.17, 0.95);
$show: max-height 0.3s cubic-bezier(0.63, 0.03, 0.17, 0.95);

//objects
$circle: 20rem;
$rounded: 0.4rem;

//Border
$border: 1px solid $horizontalRule;
