@import '~styles/config';

#header {
  @include container;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9900;
  margin: 3rem auto;
  background: var(--background-color);
  will-change: transform;
  transition: var(--scroll);
  display: inline-flex;
  justify-content: space-between;
  //Move
  &.move {
    transform: translateY(-150%);
  }
  //Container
  & .header__container {
    display: inline-flex;
  }
  //Logo
  & .header__logo svg {
    height: 2.5rem;
    width: auto;
  }

}
