@import '~styles/config';

#header {
  @include container;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9900;
  margin: 3rem auto;
  background: var(--background-color);
  will-change: transform;
  transition: var(--scroll);
    display: inline-flex;
    justify-content: space-between;
  //Move
  &.move {
    transform: translateY(-150%);
  }
  //Container
  & .header__container{
    display: inline-flex;
  }
  //Logo
    & .header__logo svg {
      height: 2.5rem;
      width: auto;
    }

  a.logo__link.desktop-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;

    &:hover {
      text-decoration: none;
    }
  }
  //Nav
  & .desktop-nav .desktop-content {
    height: auto;
    padding: 3rem 5rem;
    position: relative;
    color: var(--primary);
    display: flex;
    align-items: center;

    &:not(.desktop-content-logo):before {
      content: "";
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.7em;
      background: var(--primary);
      visibility: hidden;
    }
    //Avtive
    &.active {
      &:before {
        visibility: visible;
      }
    }
  }

  a.desktop-content {
    transition: var(--color-mode-transition);

    &:hover {
      text-decoration: underline;
    }
  }

  #themeColorButton {
    cursor: pointer;

    &:hover {
      color: var(--accent);
    }

    &:before {
      visibility: hidden;
    }

    & span {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.756;
      transition: var(--color-mode-transition);
      @media (min-width: $desktop_large) {
        font-size: 1.8rem;
      }
    }
  }
}

.header-move {
  transform: translateY(-200%);
}
@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
/*DESKTOP MEDIUM*/
@media (max-width: 1280px) {
  .back-arrow-ico-container {
    display: none;
  }
}

.nav-container {
  position: relative;
  z-index: 10;
  transition: var(--color-mode-transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5rem;
  @media (max-width: $tablet) {
    padding: 0 2rem;
  }

  & a {
    font-weight: 700;
    font-size: 1.4rem;

    &:hover {
      color: #7d7d7d;
    }
  }

  & svg {
    fill: var(--primary);
  }
  @media (min-width: $desktop_large) {
    & a {
      font-size: 1.8rem;
    }
  }
}

#header .nav-controls {
  position: relative;
  display: flex;
  align-items: center;

  & .desktop-content {
    padding-left: 0;
    text-transform: uppercase;
  }
}
/*アプリ・ヘッダー */
#app-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  will-change: transform;
  background-color: var(--background-color);
  z-index: 9900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--scroll);

  &.move {
    transform: translateY(150%);
  }

  .app-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;

    .app-inner {
      text-align: center;
      padding: 0.9rem 0 0.4rem;

      & svg {
        height: 1.7rem;

        & * {
          fill: var(--horizontalRule);
        }
      }

      & h6 {
        font-size: 1rem;
        transform: scale(0.9);
        letter-spacing: 0.03rem;
        font-weight: 600;
        padding-top: 0.5rem;
        color: var(--horizontalRule);
        line-height: 1;
      }

      &#appColorButton {
        transition: var(--color-mode-transition);

        & h6 {
          color: var(--app-color);
          transition: var(--color-mode-transition);
        }

        & svg {
          & * {
            transition: var(--color-mode-transition);
            fill: var(--app-color);
          }
        }
      }
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }
}
/*アプリ*/
#app-header {
  padding: 1rem 0;
  transition: var(--scroll);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 9900;
  will-change: transform;
  background-color: var(--background-color);
  @media (min-width: $tablet) {
    display: none;
  }

  &.move {
    transform: translateY(-150%);
  }

  & .app-header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  //バックページ
  & .app-backPageNavi {
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
    z-index: 9900;

    & .backPageInner {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 1.5rem 1.2rem 1.5rem 0;
      border-radius: 10px;
    }

    & svg {
      height: 17px;
      left: 0;
      width: auto;
      transition-duration: 0.3s;
      position: relative;
      bottom: 0;
      transform: rotate(-180deg);

      & * {
        fill: var(--articleText);
      }
    }
  }
}

.home .app-backPageNavi {
  visibility: hidden;
}
//アプリ・ロゴ＆タイトル

#app-logo {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  bottom: 0;
  align-items: center;
  text-align: center;
  justify-content: center;

  & svg {
    height: 2rem;
  }

  & #logo-desktop .change-fill {
    fill: var(--primary);
  }
}
/*アプリ・アクティブ*/
div#app-nav {
  .app-wrapper {
    .app-inner.active {
      & h6 {
        color: var(--primary);
      }

      & svg * {
        fill: var(--primary);
      }
    }
  }
}

.home #app-nav .app-wrapper .app-inner.app-home {
  & h6 {
    color: var(--primary);
  }

  & svg * {
    fill: var(--primary);
  }
}
/*Other*/
.icon-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  padding-left: 1rem;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin-left: 30px;
}

.icon-wrapper:hover {
  opacity: 1;
}

.icon-wrapper[class*="data-ally"]:focus::after {
  content: "";
  position: absolute;
  left: 0;
  top: -30%;
  width: 100%;
  height: 160%;
  border: 2px solid var(--accent);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 5px;
}
/*TABLET*/
@media (max-width: 735px) {
  .icon-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 10px;
  }

  .icon-wrapper:hover {
    opacity: 0.5;
  }
}

svg.colorButton {
  width: auto;
  height: 30px;
  fill: var(--grey);
}

/*TABLET*/
@media (max-width: 735px) {
  .frame {
    left: -15px;
  }
}
/*Bio*/
@media (max-width: 1070px) {
  .subheading-container .grid-controls-container {
    margin-bottom: 50px;
  }
}
//color

.color-button-day {
  color: var(--day);
}

.color-button-night {
  color: var(--night);
}

.color-button-margin {
  color: var(--horizontalRule);
}
