@import '~styles/config';

.intro {
  position: absolute;
top: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
   & h1{
     font-family: $serif;
    font-weight: 500;
    line-height: 1.65;
    font-size: 5.5rem;
    max-width: $desktop;
    @media (max-width: $phablet){
      font-size: 2.3rem;
    }
   }
}
